/node_modules
**/node_modules
/oh_modules
**/oh_modules
/agconnect-services.json
**/agconnect-services.json
/build-profile.json5
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer